<h4 class="text-center m-4"><strong> Experience </strong></h4>

<div class="table-responsive-sm">
  <table class="container table">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col" rowspan="2">Name of the Institution</th>
        <th scope="col" rowspan="2">Designation</th>
        <th scope="col" rowspan="2">Joining Date</th>
        <th scope="col" rowspan="2">Relieving Date</th>
        <th scope="col" colspan="3">Experience</th>
      </tr>
      <tr class="text-center">
        <th scope="col">Year</th>
        <th scope="col">Month</th>
        <th scope="col">Days</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>KLN COLLEGE OF ENGINEERING, MADURAI</td>
        <td>ASSISTANT PROFESSOR</td>
        <td>01/07/2015</td>
        <td>TILL NOW</td>
        <td>4</td>
        <td>1</td>
        <td>9</td>
      </tr>
      <tr>
        <td>LATHA MATHAVAN ENGINEERING COLLEGE, MADURAI</td>
        <td>ASSISTANT PROFESSOR</td>
        <td>01/06/2012</td>
        <td>30/06/2015</td>
        <td>3</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row" colspan="4">Total</th>
        <th>7</th>
        <th>1</th>
        <th>9</th>
      </tr>
    </tbody>
  </table>
</div>