<h4 class="text-center m-4"><strong> Qualification </strong></h4><hr class="mx-4">
<h5 class="text-center m-4"> Education qualification </h5>

<div class="table-responsive-sm">
  <table class="container table">
    <caption> Education qualification</caption>
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">Category</th>
        <th scope="col">Name of the Degree</th>
        <th scope="col">Specialization</th>
        <th scope="col">Year of Passing</th>
        <th scope="col">Name of the College</th>
        <th scope="col">Name of the University</th>
        <th scope="col">% of Marks / Grades obtained</th>
        <th scope="col">Class obtained</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <th scope="row">(Ph.D)</th>
        <td>Ph.D</td>
        <td>WELDING OF COMPOSITE</td>
        <td>2020</td>
        <td>THIYAGARAJAR COLLEGE OF ENGINEERING - MADURAI</td>
        <td>ANNA UNIVERSITY CHENNAI</td>
        <td colspan="2">Completed</td>
      </tr>
      <tr>
        <th scope="row">PG</th>
        <td>ME</td>
        <td>COMPUTER AIDED DESIGN</td>
        <td>2012</td>
        <td>ANNA UNIVERSITY REGIONAL CAMPUS - TIRUNELVELI</td>
        <td>ANNA UNIVERSITY CHENNAI</td>
        <td>9.21 CGPA</td>
        <td>FIRST CLASS WITH DISTINCTION</td>
      </tr>
      <tr>
        <th scope="row">UG</th>
        <td>BE</td>
        <td>MECHANICAL</td>
        <td>2010</td>
        <td>SACS MAVMM ENGG COLLEGE</td>
        <td>ANNA UNIVERSITY CHENNAI</td>
        <td>74</td>
        <td>FIRSTCLASS</td>
      </tr>
      <tr>
        <th scope="row">Diploma</th>
        <td>DME</td>
        <td>MECHANICAL</td>
        <td>2007</td>
        <td>GMS MAVMM POLYTECHNI COLLEGE</td>
        <td>ANNA UNIVERSITY CHENNAI</td>
        <td>81.2</td>
        <td>FIRSTCLASS with HONS</td>
      </tr>
    </tbody>
  </table>
</div>